doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="manifest" href="/manifest.webmanifest")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= process.env.APP_TITLE
  body
    #root
    script(type="module").
      if (location.hostname !== 'localhost') {
        navigator.serviceWorker.register('#[= process.env.APP_BASE_URL]/service-worker.js');
      }
    script(src="./index.ts")
